// breakpoints: https://vuetifyjs.com/en/features/breakpoints/
$xs: 'extra-small';
$sm: 'small';
$md: 'medium';
$lg: 'large';
$xl: 'extra-large';

@mixin respond-to($breakpoint) {
  @if $breakpoint == $xs {
    @media (max-width: 599px) {
      @content;
    }
  } @else if $breakpoint == $sm {
    @media (min-width: 600px) and (max-width: 959px) {
      @content;
    }
  } @else if $breakpoint == $md {
    @media (min-width: 960px) and (max-width: 1263px) {
      @content;
    }
  } @else if $breakpoint == $lg {
    @media (min-width: 1264px) and (max-width: 1903px) {
      @content;
    }
  } @else if $breakpoint == $xl {
    @media (min-width: 1904px) {
      @content;
    }
  }
}
